In [1]:
# Import Pandas
import pandas as pd

# Load Movies Metadata
metadata = pd.read_csv('C:\\Users\LIPSITA_SENAPATI\Desktop\TEACHERS.csv', low_memory=False)

# Print the first three rows
metadata.head(3)

  Teacher  vote_average  vote_count     id specialisation  sp
0       A           7.7        5415    862              c   1
1       B           6.9        2413   8844         python   2
2       C           6.5          92  15602           java   3

In [2]:
# Calculate C,mean rating across all movies
C = metadata['vote_average'].mean()
print(C)

6.488461538461539

In [3]:
# Calculate the minimum number of votes required to be in the chart, m
m = metadata['vote_count'].quantile(0.90)
print(m)

1614.5

In [4]:
# Filter out all qualified movies into a new DataFrame.copy() method to ensure that the new q_movies DataFrame created is independent of your original metadata DataFrame. 
#In other words, any changes made to the q_movies DataFrame does not affect the metadata.
q_movies = metadata.copy().loc[metadata['vote_count'] >= m]
q_movies.shape

(3, 6)

In [5]:
# Function that computes the weighted rating of each movie
def weighted_rating(x, m=m, C=C):
    v = x['vote_count']
    R = x['vote_average']
    # Calculation based on the IMDB formula
    return (v/(v+m) * R) + (m/(m+v) * C)

In [6]:
# Define a new feature 'score' and calculate its value with `weighted_rating()`
q_movies['score'] = q_movies.apply(weighted_rating, axis=1)

In [7]:
#Sort movies based on score calculated above
q_movies = q_movies.sort_values('score', ascending=False)

#Print the top 15 movies
q_movies[['Teacher', 'vote_count', 'vote_average', 'score']].head(15)

  Teacher  vote_count  vote_average     score
0       A        5415           7.7  7.421740
5       F        1886           7.7  7.141214
1       B        2413           6.9  6.735027